/* Style for the Custom Card Component */

/* body {
    font-size: 40px;
} */

.card-link {
    text-decoration: none;
    border: none
}

.card-link:hover {
    text-decoration: none;
    border: 2px solid #041e42
}

.card_profile_component {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
}

.card_profile_component .card-footer {
    padding: 0px;
    margin: 0px;
}

.card_profile_component .card-title {
    height: 1.5rem;
    overflow-y: auto;
    width: 100;
    text-align: center;
    font-weight: bold;
}

.card_profile_component .card-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #041e42;
}


.card-body {
    padding: 0px;
}

.icon {
    margin-right: 0.5rem;
}

.card_profile_component .card-title a {
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}



.card_profile_component .card-title a:hover {
    color: rgba(0, 0, 0, 0.7)
}

.card_profile_component .card-footer {
    background-color: #ffffff;
    border-top: 0;
    padding-left: 0px;
    padding-bottom: 1rem !important;
 }
 
