#template {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#template #menu {
    flex: 1;
}

#template #footer {
    flex: 0;
    margin-top: auto;
    /* align-self: flex-end; */
}
