#footer .container-footer {
    padding-top: 4rem;
    color: #e9ecef;
    padding-bottom: 4rem;
}


#footer .dark{
    background-color: #343a40;
}

#footer .link {
    color: #ccc
}

#footer .dark2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #2a2e33;
}