  
  #primary_navbar {
    z-index: 5;
  }
  
  #primary_navbar .nav-item .active {
    /* background-color: #41b883 !important; */
    color: #fff !important;
    font-weight: bold;
  }

  #primary_navbar .navbar-toggler {
    background-color: #ccc;
  }

  #primary_navbar .pointer:hover {
    cursor: pointer;
  }

  #primary_navbar .nav-item  a {
    text-decoration: none;
    text-align: left !important;
    color: #ccc !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
    width: 100%;
  }

  #primary_navbar .nav-item {
    margin-left: 1rem;
    /* margin-right: 1rem; */
  }
/* 
  .container-fluid {
    display: flex;
    justify-content: end;
  }
   */